@font-face {font-family: 'Carrois Gothic', sans-serif;
  font-family: 'Manrope', sans-serif;
  font-family: 'Rock 3D', cursive;
  src: url(<link rel="preconnect" href="https://fonts.googleapis.com"> 
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
  <link href="https://fonts.googleapis.com/css2?family=Carrois+Gothic&family=Manrope:wght@400;700&family=Rock+3D&display=swap" rel="stylesheet"
}

body {
	font-family: 'Carrois Gothic', serif;
	margin-bottom: 200px;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Carrois Gothic', sans-serif;
	font-weight: 700;
}

.title{
	font-size: 4rem;
	text-align: center;
	background-image: url( );
	background-size: cover;
	padding-top: 60px;
	padding-bottom: 60px;
}

@media (max-width: 475px) {
  .title {
    font-size: 2.5rem;
  }
}
@media (max-width: 475px) {
  body {
    font-size: 65%;
  }
}

.edgar {
  text-align: center;
}

.verse {
  font-size: 550px;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 60px;
  }


  @media (max-width: 475px) {
    body {
      background-color: #9E7B9B;
    }
  }

@media (min-width: 476px) and (max-width: 1199px) {
body {
  background-color: grey;
}
}


   @media (min-width: 1200px) and (max-width:3000px) {
    body {
      background-color:  
      linear-gradient( 
       #9E7B9B
      #380036 
      #26081C
      #150811)
    }
  }
.oof {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}